{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="offer">
        <div class="wrapper">
            <div class="offer-div">
                <p class="summerSale">summer sale for all swim suits and free express delivery - OFF 50%! <a href="">ShopNow</a></p>
                <div class="langauge">
                    <select name="" id="">
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <header>
        <div class="wrapper">
            <div class="header-div">
                <h1>
                    <a href="#">
                        <img src="{% static 'images/Logo.png' %}" alt="">
                    </a>
                </h1>
                <nav>
                    <a href="{% url 'web:index' %}">home</a>
                    <a href="{% url 'web:view_products' %}">Contact</a>
                    <a href="{% url 'web:product_list' %}">About</a>
                    <a href="">Sign up</a>
                </nav>
                <div class="right_nav">
                    <div class="searchDiv">
                        <input type="text" placeholder="What are you looking for?">
                        <i class="fa fa-search"></i>
                    </div>
                    <div>
                        <i class="fa fa-heart-o"></i>
                    </div>
                    <div>
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="location">
        <div class="wrapper">
            <div class="location-div">
                <div>
                    <p>home</p>
                     <p>/</p>
                     <span>products</span>
                </div>
            </div>
        </div>
    </section>
    <section id="products">
        <div class="wrapper">
            <div class="products-div">
                <div class="items">
                    <a href="">
                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images/items_1.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_2.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                                </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <a href="">
                        </a>

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_3.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_4.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_5.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_6.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_7.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_8.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="items">
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_1.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_2.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                                </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <a href="">
                        </a>

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_3.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_4.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_5.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_6.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_7.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="">

                        <div class="item">
                            <div class="item-image">
                                <div class="topsection">
                                    <div class="image">
                                        <img src="{% static 'images//items_8.jpg' %}" alt="item-image">
                                    </div>
                                </div>
                                <div class="item-icons">
                                    
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>
                                <div class="addCart">
                                    <p>Add to cart</p>
                            </div>
                        </div>
                        <div class="item-main">
                            <p class="item-head">Bread Dry Dog Food</p>
                            <div class="bottom-part">
                                <p class="price">$100</p>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review">(23)</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="color">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <div class="wrapper">

            <div class="footer-main">
                <div class="column-container">
                    <h5>exclusive</h5>
                    <h6>Subscribe</h6>
                    <p>Get 10% off your first order</p>
                    <div class="newsletter-input">
                        <form action="">
                            <input type="text" placeholder="enter your email">
                            <button><img src="{% static 'images/icon-send.png' %}" alt="sent-icon"></button>
                        </form>
                    </div>
                </div>
                <div class="column-container">
                    <h6>support</h6>
                    <p>111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
                    <p>exclusive@gmail.com</p>
                    <p>+88015-88888-9999</p>
                </div>
                <div class="column-container">
                    <h6>account</h6>
                    <p>my account</p>
                    <p>login / register</p>
                    <p>categories</p>
                    <p>wishlist</p>
                    <p>shop</p>
                </div>
                <div class="column-container">
                    <h6>quick link</h6>
                    <p>privacy policy</p>
                    <p>terms of use</p>
                <p>faq</p>
                <p>contact</p>
            </div>
            <div class="column-container">
                <h6>download app</h6>
                <div class="qr-code">
                    <p>Save $3 with App New User Only</p>
                    <div class="center">
                        <div class="qr-image">
                            <img src="{% static 'images/Qrcode.jpg' %}" alt="qrCode">
                        </div>
                        <div class="download-platform">
                            <div class="downloaded-by">
                                <img src="{% static 'images/download-appstore.jpg' %}" alt="appStore">
                            </div>
                            <div class="downloaded-by">
                                <img src="{% static 'images/download-playstore.jpg' %}" alt="playstore">
                            </div>
                        </div>
                    </div>
                    <div class="social-media">
                        <div class="each">
                            <img src="{% static 'images/icon-instagram.png' %}" alt="social-media-icon">
                        </div>
                        <div class="each">
                            <img src="{% static 'images/Icon-Facebook.png' %}" alt="social-media-icon">
                        </div>
                        <div class="each">
                            <img src="{% static 'images/Icon-Twitter.png' %}" alt="social-media-icon">
                        </div>
                        <div class="each">
                            <img src="{% static 'images/Icon-Linkedin.png' %}" alt="social-media-icon">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="copyright">
        <p>Copyright Rimel 2022. All right reserved</p>
    </div>
    </footer>
    
</body>
</html>